{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Optimize Delivery Routes</h5>
    </div>
    
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">
                <i class="fas fa-magic"></i> Optimize Routes
            </button>
            <a href="{% url 'routes:list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}