{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-header">
                <h5>Route Visualization</h5>
            </div>
            <div class="card-body">
                <div style="height: 600px; width: 100%;">
                    {{ map_html|safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header">
                <h5>Route Information</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Truck:</span>
                        <span>{{ route.truck.license_plate }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Driver:</span>
                        <span>{{ route.driver.get_full_name }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total Distance:</span>
                        <span>{{ route.total_distance_km|floatformat:2 }} km</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Number of Stops:</span>
                        <span>{{ route.stops.count }}</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <h5>Route Stops</h5>
            </div>
            <div class="card-body">
                <ol class="list-group list-group-numbered">
                    {% for stop in route.stops.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Order #{{ stop.delivery_order.order_number }}</div>
                            {{ stop.delivery_order.delivery_address|truncatechars:30 }}
                        </div>
                        <span class="badge bg-primary rounded-pill">
                            {{ stop.delivery_order.weight_kg }} kg
                        </span>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}